app_mode=prod

# MQTT Broker
broker=192.168.1.2
port=1883
user=mqtt
password=secretpw
topic=house/speedtest/

# Speedtest
# (Vereinigte Stadtwerke Media GmbH (Bad Oldesloe) - get your id like so: https://www.hivelocity.net/kb/how-to-use-hivelocitys-speedtest-servers-with-speedtest-cli/)
# Set to False for auto best server
test_server=16611

# Interval, in seconds, you want to run the updates. 3600 = 1 hour. Set inteval to 0 if you want to the script to exit after one run.  
interval=14400

# Splunk Server:
splunk_server=192.168.1.20
# Splunk HEC Port - Default is 8088:
splunk_hec_port=8088
# Splunk Hec SSL:
splunk_hec_ssl=False
# Splunk HEC Token:
splunk_hec_key=
# Splunk index:
splunk_index=main
# Splunk sourcetype:
splunk_sourcetype=speedtest
# Splunk Source:
splunk_source=speedtest_script
# Splunk host:
splunk_host=jarvis